{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About us</title>
<link rel="stylesheet" href="{% static 'css/testi.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <br>
    <a style="font-size: 400%;" class="waves-effect waves-light modal-trigger center-align" href="#modal1"><u>ABOUT US</u></a>
  <div id="modal1" class="modal">
    <div class="modal-content">
    <h4 style="background-color: #418CE3" class="center-align">  
        <span style="color: #80EEF5;">Re</span>
        <span style=" margin-left: -6px; color:white;">Usable</span>
    </h4>
      <p>ReUsable is a website that was founded in 2019 by several students from Universitas Indonesia. 
        The creator of this website are students who are taking <b>"Perancangan dan Pemrograman Website"</b> course in 
        Faculty of Computer Science.
        The founder of this website decided to build a platform where everyone can sell and buy anything, but 
        mostly <b>second-handed things.</b> Since our founding in 2019, ReUsable gave it's founder zero profit, 
        but by creating this website, they can learn many things about website programming.
      </p>
      <hr>
      <p>
        ReUsable adalah sebuah website yang dibuat pada tahun 2019 oleh mahasiswa dari Universitas Indonesia.
        Pembuat website ini adalah mahasaiswa yang mengambil mata kuliah "Perancangan dan Pemrograman Website" di Fakultas
        Ilmu Komputer. Pembuat website ini telah berniat untuk membuat suatu platform dimana semua orang bisa menjual
        dan membeli barang, terutama barang bekas. Sejak pembuatan website ini dari tahun 2019, ReUsable belum bisa memberikan
        keuntungan sedikitpun, tetapi dapat memberikan pengalaman kepada pembuatnya tentang pemrograman website.
      </p>
    </div>
    <div class="modal-footer">
      <p class="modal-close waves-effect waves-green btn-flat">Close</p>
    </div>
  </div>
</div>

<div class="container">
  {% if user.is_authenticated %}
  <h3>Berikan testimoni kamu: </h3>
    <form method="POST" enctype="multipart/form-data" id="form_testi">
        {% csrf_token %}
        <p>{{ form.testimoni }}</p>
        <a id="submit_testi">Submit
        </a>
    </form>
    {% endif %}
    <br>
    <h4>Testimoni user ReUsable: </h4>
    <div class="row" id="isinya"></div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock body %}

{% block script %}
<script src="{% static 'js/testi.js' %}"></script>
{% endblock script %}
