@media screen and (max-width: 600px) {
    
    #pass_1,
    #pass_2,
    #email_sign,
    #username_sign,
    #identity_sign,
    #address_sign,
    #bank_sign,
    #acc_number_sign {
        width: 80% !important;
    }
}

.container-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
    top: -100px;
}

.container-circle img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    object-fit: cover;
}
h1{
    text-align:center;
}
.span1{
    color: #80EEF5; 
    -webkit-text-stroke: 2px black;
}
.span2{
    color: white;
    -webkit-text-stroke: 2px black;
}
#div-formnya{
    margin-top: 150px;
    text-align:center;
}
.material-icons{
    margin-left:5%;
}
#edit-btn p{
    margin-left:5%;
    margin-top: -9px;
    font-size: 10px;
}
#submit-btn{
    font-family: 'Sniglet', cursive;
    width: 20%;
    border: 2px solid black;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
}
#edit-btn {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 350px;
}

#id_picture_profile {
    position: absolute;
    top: 80%;
    right: -35%;
    opacity: 0.0;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}