@media screen and (max-width: 600px) {
    .foto {}
}
.row{
    padding: 3% 0%;
}
#barang_pic{
    width:100%;
    height:100%;
}
#kembali_pencarian{
    background-color:#418CE3;
    color: white;
    font-family: 'Sniglet', cursive;
    width: 200px;
}
#beli{
    background-color:#418CE3;
    color: white;
    font-family: 'Sniglet', cursive; 
}
.m7 div{
    text-align: right;
}
.m7 div span{
    font-size:150%;
}
.m7 div span span{
    font-weight:bold;
}