.select-wrapper {
    position: absolute;
    width: 92%;
    right: 5%;
    top: 0%;
    text-align: center;
}

.Modal {
    height: 500px;
    width: 80%;
    z-index: 2000;
    position: fixed;
    top: 10%;
    overflow-y: scroll;
    padding: 20px;
}

.fake {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 1700;
    top: 0;
    left: 0;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
#search1{
    position:absolute;
    top:0;
    right:0;
}
.loader{
    height:100%;
    width:100%;
    position: absolute;
    left:0;
    display: flex;
    justify-content: center;
}
#search2{
    position:absolute;
    top:0;
    right:0;
    *z-index: 10;
}