.container-circle {
    position: relative;
    height: 250px;
    width: 100%;
    border: 1px solid black;
    padding: 0;
    overflow: hidden;
}
.container-circle img {
    position: absolute;
    top: 0;
    margin-left: 0;
    width: 100%;
    object-fit: cover;
}
#edit-btn{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 500px;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.row{
    flex-direction: row;
    justify-content: baseline;
}
.material-icons{
    margin-left:50%;
}
#edit{
    margin-left:50%;
    margin-top: -9px;
    font-size: 10px;
}