.theinput {
    font-family: 'Sniglet', cursive;
    width: 40% !important;
    height: 65px !important;
    padding: 12px !important;
    border: 1px solid black !important;
    border-radius: 35px !important;
    box-sizing: border-box !important;
    resize: vertical !important;
    margin-top: 23px !important;
    
}

@media screen and (max-width: 600px) {
    .theinput {
        width: 80% !important;
    }
}

.container div h1{
    text-align:center;
}
#logo1{
    color: #80EEF5;
    -webkit-text-stroke: 2px black;
}
#logo2{
    color: white;
    -webkit-text-stroke: 2px black;
}
