.select-wrapper{
    position: absolute;
    width: 40%;
    right: 5%;
    top: 0%;
}

@media screen and (max-width: 600px) {
    .font1{
        font-size: 5vw !important;
    }
}
.row{
    padding: 5% 0 0 0;
    margin: 8% 0 0 0;
}
.circle{
    width:20em;
    height:20em;
}
.font1{
    font-size:200%;
}