{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block head %}
<title>Daftar</title>
<link rel="stylesheet" href="{% static 'css/daftar.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h1><strong>Be a member of </strong>
            <span class="span1">Re</span>
            <span class="span2">Usable</span>
            <strong>!</strong>
        </h1>
    </div>
    <div id="div-formnya">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="wrap">
                <div class="container-circle">
                    <div id="input-img">
                        <p>Input Your Image</p>
                        <img id="img_id" src="">
                        <div id="edit-btn"><span><i class="material-icons">edit</i>
                                <p>Edit</p>
                            </span></div>
                        {{ form.picture_profile }}
                    </div>
                </div>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" style="color:red" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>{{ form.nama_panjang }}</p>
            <p>{{ form.email }}</p>
            <p>{{ form.username }}</p>
            <p>{{ form.password1 }}</p>
            <p>{{ form.password2 }}</p>
            <p>{{ form.no_identitas }}</p>
            <p>{{ form.alamat }}</p>
            <p>{{ form.nama_bank }}</p>
            <p>{{ form.no_rekening }}</p>
            <input id="submit-btn" type="submit" value="Daftar">
        </form>


    </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'js/daftar.js' %}"></script>
{% endblock %}