{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/masuk.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h1>
            <span id="logo1">Re</span>
            <span id="logo2">Usable</span>
        </h1>
    </div>
<div style="text-align: center;">
    <form action="{% url 'user:masuk' %}" method="POST">
        {% csrf_token %}
        <p><input type="text" name="email" placeholder="Email" class="theinput"></p>
        <p><input type="password" name="password" placeholder="Password" class="theinput"></p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" style="color:red" {% endif %}>{{ message }}</li>
            {% endfor %}
            {% endif %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <img class="responsive-img" id="signInButton"
                src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png"
                onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
            </a>
            <p><input type="submit" value="Masuk" class="theinput"></p>
        </form>
    </div>
</div>
{% endblock body %}
{% block js %}{% endblock %}