{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="{{profile.base64_pic}}" class="circle">   
        </div>
        <div class="col s12 m6 l6 font1">
            <h2>Profile</h2>
            <p>{{profile.nama_panjang}}</p>
            <p>{{profile.username}}</p>
            <p>{{profile.email}}</p>
        </div>
        
    </div>
</div>
{% endblock body %}
