{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<title>Detail Barang</title>
<link rel="stylesheet" href="{% static 'css/detail_barang.css' %}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s0 m1"></div>
    <div class="col s12 m3 valign-wrapper foto">
        <img src="{{barang.base64_pic}}" id="barang_pic">
    </div>
    <div class="col s12 m7">
        <h1>{{barang.nama_barang}}</h1>
        <h2>Penjual : {{barang.penjual}}</h2>
        <h6>{{barang.deskripsi}}</h6>
        <div>
            <span>Harga : Rp. 
                <span>{{barang.harga}}</span>
            </span>
        </div>
    </div>
    <div class="col s6 m6 right-align">
        <a class="btn" href="{% url 'barang:home' %}"
            id="kembali_pencarian">Kembali ke
            Pencarian</a>
    </div>
    <div class="col s6 m6 left-align">
        <form method="POST" action="{% url 'barang:beli' slug_barang=barang.slug %}">
            {% csrf_token %}
            <input type="submit" class="btn" value="Beli" id="beli">
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
    <script>
        const pesan = "{{message}}";
        alert(pesan);
    </script>
    {% endfor %}
    {% endif %}


</div>
{% endblock body %}

{% block js %}{% endblock %}