{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<title>Reusable</title>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="input-field col s12 m6 l6">
            <form id="formq" method="POST">
                <input type="text" name="q" placeholder="Cari berdasarkan nama barang" id="qinput">
                <button type="submit" class="btn" id="search1"><i
                        class="material-icons">search</i></button>
            </form>
        </div>
        <div class="input-field col s12 m6 l6">
            <form id="formcategory" method="POST">
                <select name="kategori" id="category">
                    <option value="" disabled selected>Cari berdasarkan Kategori</option>
                    <option value="Hobi">Hobi</option>
                    <option value="Kendaraan">Kendaraan</option>
                    <option value="Aksesoris">Aksesoris</option>
                    <option value="Alat Tulis">Alat Tulis</option>
                    <option value="Elektronik">Elektronik</option>
                    <option value="Pakaian">Pakaian</option>
                </select>
                <button type="submit" class="btn" id="search2"><i
                        class="material-icons">search</i></button>
            </form>

        </div>
    </div>

    <div id="divnya">
        <div id="isinya"></div>
    </div>

    <h1>Barang Terbaru</h1>
    <div class="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divnya2">
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{% url 'barang:jual' %}">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>
{% csrf_token %}
{% endblock body %}

{% block js %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}