{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Ayo Jual!</title>
<link rel="stylesheet" href="{% static 'css/jual.css' %}">
{% endblock %}
{% block body %}
<!-- -------------------------------------------------------------------------------- -->

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wrap">
        <h1>Jual Barang Kamu</h1>
        <div class="row">
            <div class="col s12 m6 file-field input-field">
                <div class="container-circle">
                    <div id="input-img">
                        <h4>Input Your Image</h4>
                        <img id="img_id" src="">
                        <div id="edit-btn"><span><i class="material-icons">edit</i><p id="edit">Edit</p></span></div>
                        {{form.picture}}
                    </div>
                </div>
                <p>Harga : {{form.harga}}</p>
            </div>
            <div class="col s12 m6">
                <p>Nama : {{form.nama_barang}}</p>
                
                <div class="input-field">
                    
                    {{form.kategori_barang}}
                    
                    <label>Category</label>
                </div>
                <p>Deskripsi : {{form.deskripsi}}</p>
            </div>
            
        </div>
        <input class="btn" type="submit" value="Jual">
    </div>
    
</form>
<!-- -------------------------------------------------------------------------------- -->
{% endblock body %}


{% block js %}
<script src="{% static 'js/jual.js' %}"></script>
{% endblock js %}
    