{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block head %}
<title>List Pembelian</title>
<link rel="stylesheet" href="{% static 'css/list_keranjang.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Barang yang pernah kamu beli</h1>
    <div class="row" id="divnya"></div>
</div>
<div id="user" data="{{user.id}}"></div>
{% endblock body %}

{% block js %}
<script src="{% static 'js/list_keranjang.js' %}"></script>
{% endblock %}