{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<title>List barang</title>
<link rel="stylesheet" href="{% static 'css/list_barang.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="center-align">List Barang Kamu</h1>
    <div class="row" id="divnya"></div>
</div>
<div id="user" data="{{user.id}}"></div>
{% csrf_token %}
{% endblock body %}

{% block js %}
<script src="{% static 'js/list_barang.js' %}"></script>
{% endblock %}